h1 {
  text-transform: uppercase;
  text-align: center;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 100px;
  border: none;
  color: white;
  background-color: #0099CC;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.food-search {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

.food-search input {
  width: 300px;
  padding: 5px;
  border-radius: 100px;
  border: .5px solid #a1a1a1;
  margin-top: 15px;
}

button {
  border-radius: 100px;
  border: none;
  color: white;
  background-color: #0099CC;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  font-size: .9em;
  margin-left: 10px;
}
