h1 {
  text-transform: uppercase;
  text-align: center;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 100px;
  border: none;
  color: white;
  background-color: #0099CC;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}
