.today-foods {
  text-align: center;
  margin: 0 auto;
}

.food-item {
  margin-bottom: 50px;
}

img {
  max-width: 200px;
  border-radius: 400px;
}

h1 {
  margin: 50px;
  text-align: center;
}

strong {
  color: #0099CC;
  text-transform: uppercase;
  font-weight: bold;
}
